{% extends "bootstrap/base.html" %}

{% block title %}{{ pageName }}{% endblock %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for("static", filename="css/style.css") }}" rel="stylesheet">
{% endblock %}
{% block navbar %}

{% endblock %}

{% block content %}
<div class="container" align="center" style="width: 100%; max-width: 600px;">

Visiting page: {{ page.name }}

{% for image in page.images %}
    <img src="{{ image.url }}"/>
{% endfor %}


</div>
{% endblock %}

{% block scripts %}

{% endblock %}