
html, body {
    height: 100%;
    background-color: black;
}

.carousel, .item, .active, .fillme {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.img-responsive {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fillme {
    overflow: hidden;
    position: relative;
}

.fillme img.fullWidth {
    min-height: auto;
    min-width: 100%;
}

.fillme img.fullHeight {
    min-height: 100%;
    min-width: auto;
}

.caption {
    background: rgba(0, 0, 0, 0.35);
}

.carousel-caption {
    max-width: 100%;
    width:100%;
    left: 0;
    padding:10px;
}

.hover-only{
    opacity: 0;
    transition: opacity 0.5s ease;
}

.hover-only:hover{
    opacity: 1;
}